.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .5s;
}

.buttons:hover{
    background-color: rgb(224, 68, 68);
}

button{
    background-color: black;
    border: none;
    color: white;
    width: 90%;
    margin: 5px;
}
